```html
<!DOCTYPE html>
<html>
<head>
<title>Students</title>

<style>

body{
font-family:Arial;
background:#f4f4f4;
}

table{
width:80%;
margin:auto;
border-collapse:collapse;
background:white;
}

th,td{
padding:12px;
border:1px solid #ccc;
text-align:center;
}

th{
background:#2193b0;
color:white;
}

h2{
text-align:center;
}

</style>

</head>

<body>

<h2>Student List</h2>

<table>

<tr>
<th>ID</th>
<th>Name</th>
<th>RFID Card</th>
</tr>

<tr>
<td>1</td>
<td>Aastha Jain</td>
<td>3F45A89</td>
</tr>

<tr>
<td>2</td>
<td>Rahul Sharma</td>
<td>7D98F22</td>
</tr>

</table>

</body>
</html>
```
